body{font-family:Arial;background:#eef2ff}
.container{max-width:700px;margin:auto;background:#fff;padding:20px;border-radius:10px}
input,select,button{width:100%;padding:10px;margin:8px 0}
button{background:#0d47a1;color:#fff;border:none}
table{width:100%;border-collapse:collapse}
th,td{border:1px solid #ccc;padding:8px}